ul {
padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 10px;
}

li.active {
color: red;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.popular-rank {
  font-size: 20px;
  margin: 20px;
}

.nav {
  display: flex;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}

a {
  color: #d0021b;
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: 0;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a, #0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.form-container {
  display: flex;
  justify-content: space-around;
}

.form-input {
  display: block;
  margin-bottom: 20px;
}

.form-wrapper {
  text-align: center;
}

.btn-submit {
  background-color: #000;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 24px;
  padding: 5px 25px;
}

.header {
  display: inline-block;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;
}

.reset {
  background: transparent;
  border: 0;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}
