ul {
padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 10px;
}

li.active {
color: red;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}
